body {
  background-image: url(../img/bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
}

@font-face {
    font-family: matrix;
    src: url(../matrix.regular.ttf);
}

.header {
  width: 100%;
  margin-top: 45vh;
  display: flex;
  justify-content: center;
  font-family: 'matrix';
  font-size: 8vw;
  text-shadow: 1px 1px 10px rgba(108, 208, 146, 1);
  color: black;
  text-align: center;
  flex-direction: column;
}

.header p {
  text-align: center;
  justify-content: center;
  font-size: 4vw;
  margin: 0;
}
.header h1 {
  text-align: center;
  justify-content: center;
  font-size: 8vw;
  margin: 0;
}

.main-container {
  background-color: rgba(245, 245, 245, 0.8);
  width: 80%;
  margin: auto;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  padding: 3%;
  padding-top: 0;
  border: 1px solid rgba(111, 153, 143, 0.1);
  border-radius: 4px;
}


.news-feed {
  width: 80%;
  margin: auto;
  margin-top: 1vh;
  padding: 3%;
}

.title {
  font-size: 2vw;
  font-family: 'matrix';
  margin-bottom: 3%;
}

.post {
  background-color: rgb(248, 248, 248);
  padding: 3%;
  margin-bottom: 3%;
  border: 1.5px solid white;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-body {
    display: flex;
}

.content {
background-color: white;
width: 90%;
margin: 3%;
margin-top: 0;
padding: 2%;
border-radius: 4px;

}
.author {
  width: 10%;
  margin: inherit;
  text-align: center;
  font-size: 1vw;
}

.avatar {
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 100%;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.post-footer {
  display: flex;
  justify-content: flex-end;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

button {
  font-size: 0.9em;

}

.form {
  background-color: rgb(248, 248, 248);
  margin: auto;
  padding: 3%;
  margin-bottom: 3%;
  border: 2px solid white;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

.form h1 {
  font-family: 'matrix';
}

.align-right {
  text-align: right;
}

input[type="text"] {
 width: 30%;
 margin-right: 5%;
}

input[type="submit"] {
font-size: 1em;
}
